body {
    font-family: 'Open Sans', sans-serif;
    max-width: 100%;
    margin: 0;
    line-height: 1.6;
    background-color: var(--primary-color);
    color: var(--accent2-color);
}

h1, h2 {
    font-family: 'Montserrat', serif;
    color: var(--accent1-color);
    font-weight: 900;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2.5rem;
    font-weight: 700;
}

.hero {
    position: relative;
    height: 500px;
    overflow: hidden;
}

.hero img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hero h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(242, 215, 238, 0.8);
    padding: 20px 30px;
    border-radius: 8px;
}

.hero article {
    position: absolute;
    bottom: 30px;
    right: 30px;
    background-color: rgba(211, 188, 192, 0.8);
    padding: 20px;
    border-radius: 8px;
    display: flex;
    align-items: center;
}

.hero article img {
    max-width: 150px;
    margin-right: 20px;
}

.adventure {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    margin: 40px 0;
}

.adventure img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.adventure {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    margin: 40px 0;
}

.adventure .adventure-item {
    position: relative;
    overflow: hidden;
    border-radius: 8px;
}

.adventure .adventure-item img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    transition: transform 0.3s ease-in-out;
}

.adventure .adventure-item:hover img {
    transform: scale(1.1);
}

.adventure .adventure-item .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(105, 48, 109, 0.6);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.adventure .adventure-item:hover .overlay {
    opacity: 1;
}

.adventure .adventure-item .overlay h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.adventure .adventure-item .overlay p {
    font-size: 1rem;
}

.sociallinks {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.sociallinks a {
    text-decoration: none;
    margin: 0 10px;
    font-size: 1.5rem;
}

footer {
    background-color: var(--secondary-color);
    text-align: center;
    padding: 20px;
}