:root {
    --primary-color: hsl(220, 60%, 80%); /* Light purple */
    --secondary-color: hsl(202, 53%, 15%); /* Dark blue */
    --background-color: rgba(255, 255, 255, 0.9);
    --text-color: rgb(15, 128, 0);
}

body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    max-width: 1200px;
    margin: auto;
    background-color: var(--primary-color); /* Background color */
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--secondary-color);
    padding: 10px;
}

header img {
    max-width: 150px;
}

nav {
    display: flex;
    gap: 20px;
}

nav a {
    color: white;
    text-decoration: none;
}

.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
    background-color: var(--background-color);
}

.hero-text {
    max-width: 70%; /* Adjust as needed */
}

.hero-image {
    max-width: 20%; /* Smaller hero image */
    height: auto;
    margin-left: 10px; /* Space between text and image */
}

.history {
    padding: 20px;
    background-color: var(--background-color);
    border: 1px solid var(--secondary-color);
    margin: 10px;
    text-align: center;
}

.history-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap; /* Wrap text and image */
}

.history p {
    width: 40%; /* Adjust this for the text width */
    margin: 0 20px; /* Space around text */
}

.history-image {
    max-width: 10%; /* Smaller history image */
    height: auto;
}

.adventure {
    padding: 20px;
    background-color: var(--background-color);
}

.adventure h2 {
    text-align: center;
    font-size: 1em;
    margin: 0;
}

.image-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Larger images */
    gap: 10px;
    padding: 20px;
}

.image-grid figure {
    margin: 0;
}

.image-grid img {
    width: 80%;
    height: auto;
    border-radius: 1px;
}

footer {
    background-color: var(--secondary-color);
    color: white;
    padding: 15px;
}

.footer-content {
    display: flex;
    justify-content: space-between; /* Space between left and right */
    align-items: center; /* Center items vertically */
    max-width: 1200px; /* Match the main content width */
    margin: auto; /* Center the footer */
}

.footer-content p {
    margin: 0; /* Remove default margin */
}

.social-icons {
    display: flex;
    gap: 10px;
}

.social-icons img {
    width: 30px;
    height: 30px;
}
